/* Splash.css */
.splash-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./discobackground.avif'); /* Path to your AVIF image */
  background-size: cover; 
  background-position: center;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Example font */
  font-weight: 200;
}

@font-face {
  font-family: 'Disco';
  src: url('SummerFavourite-ARLr6.ttf') format('truetype');
}

.splashlogin {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: none;
  text-decoration: none;
  bottom: 20px; /* Position at the bottom */
  left: 20px; /* Position at the right */
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.music {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: none;
  text-decoration: none;
  bottom: 80px; /* Position at the bottom */
  left: 70px; /* Position at the right */
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.splashbutton {
  color: white;
  background: none;
  border: none;
  font-size: 40px;
  font-family: Disco;
  font-weight: 100;
  width: 300px;
}

.splashlogin:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.splash-content {
  padding: 20px;
  border-radius: 10px;
  transform: translate(100px, -10px); /* Move left by 50px and down by 50px */
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.splash-content:hover {
  transform: scale(1.1) translate(50px, 50px); /* Scale by 1.1 and move left by 50px and down by 50px */
}

.text-link {
  fill: white; /* Ensure text color is white */
  text-decoration: none; /* Remove underline from link */
}

.text-link:hover {
  color: #ff69b4; /* Change color on hover */
  transform: scale(1.1); /* Scale up on hover */
}
