/* Splash.css */
.splash-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./discobackground.avif'); /* Path to your AVIF image */
  background-size: cover; 
  background-position: center;
  color: white; /* Text color */
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Example font */
  font-weight: 200;
}

.splash-content {
  padding: 20px;
  border-radius: 10px;
  transform: translate(50px, 50px); /* Move left by 50px and down by 50px */
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.splash-content:hover {
  transform: scale(1.1) translate(50px, 50px); /* Scale by 1.1 and move left by 50px and down by 50px */
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}